.user{
    /* max-width: 45em; */
    /* min-width: 45em; */
    /* align-items: center; */
    justify-items: center;
}
.user-info{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}