body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root{
  --primary: #22817E;
  --secondary: #a6dcda;
  --likeColor: #db2b2b;
  --likeBackgroundColor : #db2b2b53;
  --primaryBackground: #22688147;
  --secondaryBackground: #a6dcda;
}