.post {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 25em ;
}

.post-content {
    width: 100%;
    height: 21em;
    background-color: var(--primaryBackground);
    display: flex;
    justify-content: center;
    align-items: center
}

.post-text {
    padding: 1vw;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 2em;
}

.post-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1vw;
    border-top: 1px solid black;
}

.post-info>* {
    font-weight: 500;
}

.post-likes {
    color: var(--likeColor);
}

.post-comments-title {
    font-weight: 600;
    text-align: center;
    text-decoration: wavy underline;
    text-decoration-color: var(--primary);
}

.comment {
    padding-left: 1vw;
}